html {
  * {
    cursor: none;
  }
}

.app-cursor {
  z-index: 100;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: white;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
  box-shadow: 0px 0px 10px white;
  transition: all 0s ease;
  box-shadow: 0px 0px 30px 10px white;
}
