h1 {
  font-family: 'Open Sans Condensed';
}

.tutorial {
  color: white;
  z-index: 2;
  position: absolute;
  top: 40vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
